// Colors
$base: #34495e;
$firm: #1abc9c;
$nice: #d6212d;


$gray: #95a5a6;
$lightgray: #ecf0f1;
$inverse: white;

$success: #2ecc71;
$danger: #e74c3c;
$warning: #f1c40f;
$info: #3498db;

// Font
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 14px;


//Shanx Overite
$radius: 0px;